.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
html {
  overflow-x: hidden;
}
body {
  margin: 0;
}
table {
  border-collapse: collapse;
  width: 25%;
}
table th {
  border: 1px solid #ccc;
  padding: 8px;
}
label {
  display: block;
  margin-top: 10px;
}
input:focus {
  outline: none;
}
input[type="text"] {
  height: 25px;
}
.container {
  margin: 0 10px;
}
td {
  text-align: center;
}
